body{
    background-color: blue;
    color: white;
    margin: 0px;
    padding: 0%;
}

.divo{
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color: rgba(115, 255, 0, 0.685);
    border-radius: 8px;
}